<div id="look">
    {{ form_open('cart/add_to_cart', '', {'parent_product_id': product.id}) }}
    {{ global_js('product-variants-v3-4.js', true) }}
    {% for product in product.look_products %}
        <h5>{{ product.name }}</h5>
        <div class="well">
            <div class="row lookitem" id="lookitem-{{ product.id }}">
                <div class="lookitem-conteudo-esquerda">
                    {{ product_img(product, 'thumbnails', {'class': 'thumbnail'}) }}
                </div>
                <div class="lookitem-conteudo-direita">
                    
                    
                    <label class="label-infos-variacao">
                        {{ form_input({'name': 'product[' ~ product.id ~ '][variant_id]', 'value': '', 'type': 'hidden', 'id': 'lookitem-variant-' ~ product.id}) }}
                        {{ form_input({'name': 'product[' ~ product.id ~ '][id]', 'value': product.id, 'type': 'hidden'}) }}
                    </label>
                    <div class="options clearfix">
                        
                        
                        <div class="prod-variant-li escolha-checkbox conteudo-look-titulo" id="escolha-produto">
                                <input type="checkbox" checked data-state="1"><label for="{{product.id}}">Incluir este produto</label>
                            
<!--
                                <select name="quantity" class="quant-select">
                                    {% for i in 1..product.quantity %}
                                        <option value="{{i}}">{{i}}</option>
                                    {% endfor %}
                                </select>
-->
                        </div>
                        
                        <div class="variants-wrapper clearfix form-group conteudo-look-variantes">
                            <div class="hide">{{ variation_select(product, {'button_selects': true, 'exclude_js': true}) }}</div>
                            
                            
                            
                            <script type="text/javascript">
                      s_weight = {
                            {% for variant in product.variants %}  
                                {{ variant.id }}: {{ variant.weight }},
                            {% endfor %}
                       }   

                      
                      function setMaxSelect(num,id){ //DEFINE A QUANTIDADE NO SELECT DO PRODUTO
                        var select = $("select[name=quantity]");
                        select.empty();
                        
                          
                        for(i=1;i<=num;i++){
                          select.append($('<option>',{
                              value:i,
                              text:i
                          }))  
                        }
                      }
                      
                      productvariants_settings_{{ product.id }}.validationSuccess = function(){
                            //  Weight
                            var s_id = this['selected_variant']['id'];
                            var c_weight = s_weight[s_id];

                            if(c_weight > 0) $('input[name=product_weight]').val(c_weight);

                            $('.installment-price').text('R$ ' + (parseFloat(this.selected_variant.price_num) / {{ product.installments }}).toFixed(2).replace('.', ','));
                            $('.estoque').show();
                            $('.estoque span').html(parseInt(this.selected_variant.quantity));
                          console.log(this.selected_variant.id);
                          setMaxSelect(this.selected_variant.quantity,{{ product.id }});
                            $('#buy-btn').show();

                            variant_pay_discount(this.selected_variant);
                      }
                    
                      productvariants_settings_{{ product.id }}.validationNotAvailable = function(){
                              variant_unavailable();
                              variant_pay_discount(this.selected_variant);
                      }
                      
                      productvariants_settings_{{ product.id }}.validationOutofstock = function(){
                              variant_unavailable();
                              variant_pay_discount(this.selected_variant);
                      }
                      
                      var variant_unavailable = function(){
                          $('#buy-btn').hide();
                          $('.buy-message').hide();
                          $('.estoque').hide();
                          $('.alert-unavailable').removeClass('hide');
                      }
                    
                      var variant_pay_discount = function(sel_variant){
                            {% if template_settings('if:at_sight') and template_settings('text:at_sight_value') %}
                                var val_desc = sel_variant.price_num - ({{ (template_settings('text:at_sight_value') / 100) }} * sel_variant.price_num);
                                val_desc = val_desc.toFixed(2).replace('.', ',');
                                $('.onsight-price > strong').text("R$ "+ val_desc);
                            {% endif %}
                    }

                  	var opcoes_{{product.id}} = productvariants_settings_{{product.id}}.variant_map;

                                     
                            </script>
                            
                            
                            
                            {% if product.options|count > 0 %}
                                <div class="prod-variants clearfix">
                                    <ul>        
                                        {% for option in product.options %}
                                            <li class="prod-variant-li clearfix">
                                                <div class="prod-variant">
                                                    <span class="prod-variant-title">
                                  {% if option.name == 'Tamanho'%}
                                    {{ 'Escolha o tamanho:'|trans({'en':'Select a option for'}) }}
                                  {%else%}
                                                            {{ 'Selecione a opção para'|trans({'en':'Select a option for'}) }}
                                                            <span class="color">{{option.name}}:</span>
                                  {% endif %}
                                                    </span>
                                                    <ul class="list-inline">
                                                        {% for value in option.values %}
                                                            {% if value.color %}
                                                                <li class="l-color">
                                                                    <button data-id="{{value.id}}" data-product="{{product.id}}" id="filter_{{ value.id }}" class="sub f-color prod-variant-btn prod-variant-color" href="#filter_{{ option.id }}" title="{{ options[0] }}">
                                                                        <span class="s-color" style="background: {{ value.color }};"></span>
                                                                    </button>
                                                                </li>
                                                            {% else %}
                                                                <li>
                                                                    <button data-product="{{product.id}}" class="sub btn btn-default prod-variant-btn look-variant-size" data-id="{{value.id}}">{{value.name}}</button>
                                                                </li>

                                                            {% endif %} 
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    {% for option in product.options %}
                                        {% if option.id in product.available_options %}
                                            {% if option.type == 'textarea' %}
                                                <label>{{ option.name }}</label>
                                                <textarea class="form-control" name="option[{{ option.id }}]"></textarea>
                                            {% elseif option.type == 'textfield' %}
                                                <label>{{ option.name }}</label>
                                                <input class="form-control" name="option[{{ option.id }}]">
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            
                            <script type="text/javascript">
                                $(document).ready(function(){
                                    var productvariants_settings = productvariants_settings_{{ product.id }};
                                    productvariants_settings.container = '#lookitem-{{ product.id }}';
                                    productvariants_settings.customInput = '#lookitem-variant-{{ product.id }}';
                                    var productvariants_{{ product.id }} = new ProductVariants('#product-variants-{{ product.id }}', productvariants_settings);
                                });
                            </script>
                        </div>
                        <div class="price conteudo-look-preco">
<!--                            <span class="buy-message hide pull-right"></span>-->
                            <span class="product_price single_price">{{ product.price|format_currency }}</span>
                            <span class="single_price variant_price" style="display: none;" data-variant={{product.id}}>{{ product.price|format_currency }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    
    
    <script>

    //Este script colhe o click no botao de variacao de tamanho e seta o campo label para fazer
    //funcionar o botao compra. Para conseguir ter variavel com nome variavel, se utiliza de uma
    //técnica de acessar a variavel pelo window[]
    	
    		$(".prod-variant-btn").click(function(){

    				var id_produto = $(this).data('product');
    				var variacao = $(this).data('id');
    				var id_variacao = window['opcoes_'+id_produto][variacao].id;
    				$("#lookitem-variant-"+id_produto).attr("value",id_variacao);
    				
    		});

        
    /*
        Este script serve para comentar os labels responsaveis por guardar informacao da variant. Comentando estas linhas esta variant nao e adicionada ao carrinho, fazendo desta forma possivel nao comprar certos itens do look
    */
        
        $("#escolha-produto").click(function(){
            var variacao_produto = $(this).closest(".lookitem-conteudo-direita").find("label");
            var comentado = document.createComment(variacao_produto.get(0).outerHTML);    
            
            if($(this).find("input[type=checkbox]").attr("data-state") == 1){
                variacao_produto.replaceWith(comentado);
                $(this).attr("data-state",0);
            }
            else{
                $(comentado).replaceWith(comentado.nodeValue);
                $(this).attr("data-state",1);
            }
            
                
            
        });

    </script>
    
    <div class="prod-action look-prod-action">
        
            <div class="look-prod-action-1">
                <div class="price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                    <div class="buy-price" data-dc="{{ product.reduction_amount ~ '-' ~ product.reduction_type }}">
                        {% if product.saleprice > 0 %}
                          <del>{{ product.price|format_currency }}</del>
                          <span itemprop="price" class="onsale">{{ product.saleprice|format_currency }}</span>
                          <p>Economize {{ (product.price - product.saleprice)|format_currency }}!</p>
                        {% else %}
                          <span itemprop="price" class="onsale">{{ product.price|format_currency }}</span>
                        {% endif %}
                    </div>
                </div>         
            </div>
        
        
            <div class="look-prod-action-2">
  
                <!--  
                <div class="seletor-quantidade look-prod-action-2-1">
                <span class="text-quant">Quant.</span>
                        <select name="quantity" class="quant-select">
                            {% for i in 1..product.quantity %}
                                <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>
                        </div>-->
                
                
                <div class="buffer-top-sm buffer-bottom-sm look-prod-action-2-2">
                    <button class="btn btn-primary btn-lg buy-btn btn-buy-look" type="submit" value="submit">
                        <i class="glyphicon glyphicon-shopping-cart"></i> Adicionaro ao carrinho
                    </button>
                </div>  
                
            </div>
        
            <div>
                <!--   REDES SOCIAIS   -->
                {% if template_settings('if:catalog') == 0 %}
                    <div class="prod-share">
                        <div class="addthis_sharing_toolbox"></div>
                        <script type="text/javascript">var addthis_config = {"data_track_addressbar":false, ui_language: "pt"};</script>
                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-570c00638e25a472"></script>
                    </div>
                           {% endif %}
                
            
      
                <!--  FRETE E PRAZO    -->
                          {% if template_settings('if:catalog') == 0  and template_settings('if:calc_ship') == 1 and product.shippable == 1 %}
                            {{ shipping_widget() }}
                        {% endif %}
            </div>
        
    </div>
    
    {{ form_close() }}
</div>
